.header{

  background: rgba(229, 84, 115, 0.10);
}

.start{
    display: flex;
    justify-content:  space-around;
}
.primary-btn{
    border-radius: 8px;
    background: #E55473;
    border-color: none;
    
padding: 20px 43px;

gap: 10px;
}
.title{
    color: #272727;

font-size: 80px;

font-weight: 800;

}
.title-description{
    color: rgba(39, 39, 39, 0.60);

font-size: 18px;

font-weight: 400;
line-height: 30px;
}
.offer{
    display: flex;

   align-items: center;
   justify-content: space-around;
   
height: 620px;
border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
}
.offer-title{
    color: #272727;

font-size: 40px;
font-style: normal;
font-weight: 800;

}
.offer-description{
   
width: 594px;
flex-direction: column;
color: rgba(39, 39, 39, 0.60);
text-align: center;

font-size: 18px;

font-weight: 400;
line-height: 30px;

}
.offer-image{
    width: 318px;
height: 420px;
}
#line-color{
   color: #E55473; 
}
.writing-part{
    text-align: center;
}